<footer class="footer" >

    {% for block in section.blocks %}

        {{ block.settings.title }}

        {% case block.type %}
        {% when "text" %}
            This is a cake
        {% when "link_list"%}
            This is a cookie
        {% when "newsletter"%}
            This is a cookie
        {% when "text"%}
            This is a cookie
        {% else %}
            This is not a cake nor a cookie
        {% endcase %}
    {% endfor %}

    <div class="newsletter">
        <h2>Newsletter</h2>
        <input type="text" placeholder="votre email">
        <button class="btn">Subscribe</button>
    </div>
    <div class="footer-content">
        <div class="logo">
           
            <h2>MkDogs</h2>
            <ul class="content">
                <li class="footer-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
                <div class="social">
                    <li class="footer-item fb"><i class="fa-brands fa-facebook-f"></i></li>
                    <li class="footer-item sc insta"><i class="fa-brands fa-instagram"></i></li>
                    <li class="footer-item sc twit"><i class="fa-brands fa-twitter"></i></li>
                    <li class="footer-item sc you"><i class="fa-brands fa-youtube"></i></li>
                </div>
            </ul>
        </div>
        <div class="logo">
            <h2>Contact</h2>
            <ul class="content info">
                <li class="footer-item"><i class="fa-solid fa-phone" ></i>+ 1800 – 333 555
                   <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + 4800 – 333 999</li>
                <li class="footer-item"><i class="fa-solid fa-envelope"></i>Box 565, Charlestown,
                     Nevis, <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; West Indies, Caribbean</li>
                <li class="footer-item"><i class="fa-solid fa-location-dot"></i>contact@example.com</li>
            </ul>
        </div>
        <div class="logo">
            <h2>Ouverture</h2>
            <ul class="content">
                <li class="footer-item">Lundi a vendredi</li>
                <li class="footer-item">8h-30 à 18h00</li>
                <li class="footer-item">Fermé tous les week-end</li>
            </ul>
        </div>
    </div><br>
    <hr>
    <div class="footer-copyright">
        @copyright 2022 by david web developper shopify
    </div>
</footer>
{% schema %} 
    {
        "name":"Footer",
        "max_blocks":3,
        "blocks": [
            {
            "type":"link_list",
            "name":"menu",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "title",
                    "default": "Liens rapides"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "title",
                    "default": "footer"
                }
            ]
            },
            {
                "type":"text",
                "name":"texte",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "title",
                        "default": "Parlez de votre entreprise"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "texte",
                        "default": "<p>Votre texte</p>"
                    }
                ]
            },
            {
                "type":"newsletter",
                "name":"inscription",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "title",
                        "default": "Newsletter"
                    }
                ]
            }
        ]
    }
{% endschema %}